table {
  border-collapse: collapse;
  width: 100%;
    text-align: center;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: aliceblue}

th {

  background-color: pink;
   
  color: lightskyblue;
}

h3 {
    text-align: center;
    color: lightskyblue;
        
}

h4 {
    text-align: center;
    color:pink;
  
        
}